# coding: utf-8

"""
    Swiss Corporate API

    This is the release candidate version of the \"Swiss Corporate API\" specification.   # noqa: E501

    OpenAPI spec version: 1.0.0.2-SNAPSHOT
    Contact: swisscorpapi@six-group.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class DirectoryApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def retrieve_client_detail(self, client_id, x_correlation_id, user_agent, **kwargs):  # noqa: E501
        """Retrieve the information for a registered client (e.g. third party provider)  # noqa: E501

        Returns information regarding software and supported use cases of a client. (SCOPE: SIX)   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_client_detail(client_id, x_correlation_id, user_agent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str client_id: id of the client (required)
        :param str x_correlation_id: Unique ID (defined by the caller) which will be reflected back in the response. (required)
        :param str user_agent: Name and version of the of the Client software (required)
        :return: DirectoryClientItem
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_client_detail_with_http_info(client_id, x_correlation_id, user_agent, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_client_detail_with_http_info(client_id, x_correlation_id, user_agent, **kwargs)  # noqa: E501
            return data

    def retrieve_client_detail_with_http_info(self, client_id, x_correlation_id, user_agent, **kwargs):  # noqa: E501
        """Retrieve the information for a registered client (e.g. third party provider)  # noqa: E501

        Returns information regarding software and supported use cases of a client. (SCOPE: SIX)   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_client_detail_with_http_info(client_id, x_correlation_id, user_agent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str client_id: id of the client (required)
        :param str x_correlation_id: Unique ID (defined by the caller) which will be reflected back in the response. (required)
        :param str user_agent: Name and version of the of the Client software (required)
        :return: DirectoryClientItem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['client_id', 'x_correlation_id', 'user_agent']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_client_detail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'client_id' is set
        if ('client_id' not in params or
                params['client_id'] is None):
            raise ValueError("Missing the required parameter `client_id` when calling `retrieve_client_detail`")  # noqa: E501
        # verify the required parameter 'x_correlation_id' is set
        if ('x_correlation_id' not in params or
                params['x_correlation_id'] is None):
            raise ValueError("Missing the required parameter `x_correlation_id` when calling `retrieve_client_detail`")  # noqa: E501
        # verify the required parameter 'user_agent' is set
        if ('user_agent' not in params or
                params['user_agent'] is None):
            raise ValueError("Missing the required parameter `user_agent` when calling `retrieve_client_detail`")  # noqa: E501

        if ('client_id' in params and
                len(params['client_id']) > 30):
            raise ValueError("Invalid value for parameter `client_id` when calling `retrieve_client_detail`, length must be less than or equal to `30`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'client_id' in params:
            path_params['clientId'] = params['client_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_correlation_id' in params:
            header_params['X-Correlation-ID'] = params['x_correlation_id']  # noqa: E501
        if 'user_agent' in params:
            header_params['User-Agent'] = params['user_agent']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/directory/clients/{clientId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DirectoryClientItem',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_clients(self, x_correlation_id, user_agent, **kwargs):  # noqa: E501
        """Retrieve a list of all registered clients (e.g., third party providers)  # noqa: E501

        Returns a list of clients with information regarding software and supported use cases. (SCOPE: SIX)   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_clients(x_correlation_id, user_agent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str x_correlation_id: Unique ID (defined by the caller) which will be reflected back in the response. (required)
        :param str user_agent: Name and version of the of the Client software (required)
        :param str status: status=ACTIVE returns only active clients
        :return: list[DirectoryClientItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_clients_with_http_info(x_correlation_id, user_agent, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_clients_with_http_info(x_correlation_id, user_agent, **kwargs)  # noqa: E501
            return data

    def retrieve_clients_with_http_info(self, x_correlation_id, user_agent, **kwargs):  # noqa: E501
        """Retrieve a list of all registered clients (e.g., third party providers)  # noqa: E501

        Returns a list of clients with information regarding software and supported use cases. (SCOPE: SIX)   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_clients_with_http_info(x_correlation_id, user_agent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str x_correlation_id: Unique ID (defined by the caller) which will be reflected back in the response. (required)
        :param str user_agent: Name and version of the of the Client software (required)
        :param str status: status=ACTIVE returns only active clients
        :return: list[DirectoryClientItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['x_correlation_id', 'user_agent', 'status']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_clients" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'x_correlation_id' is set
        if ('x_correlation_id' not in params or
                params['x_correlation_id'] is None):
            raise ValueError("Missing the required parameter `x_correlation_id` when calling `retrieve_clients`")  # noqa: E501
        # verify the required parameter 'user_agent' is set
        if ('user_agent' not in params or
                params['user_agent'] is None):
            raise ValueError("Missing the required parameter `user_agent` when calling `retrieve_clients`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501

        header_params = {}
        if 'x_correlation_id' in params:
            header_params['X-Correlation-ID'] = params['x_correlation_id']  # noqa: E501
        if 'user_agent' in params:
            header_params['User-Agent'] = params['user_agent']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/directory/clients', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[DirectoryClientItem]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_provider_detail(self, provider_id, x_correlation_id, user_agent, **kwargs):  # noqa: E501
        """Retrieve the informatoin for a registered provider (e.g., financial institutions)  # noqa: E501

        Returns information regarding software and supported use cases of a provider. (SCOPE: SIX)   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_provider_detail(provider_id, x_correlation_id, user_agent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str provider_id: id of the provider (required)
        :param str x_correlation_id: Unique ID (defined by the caller) which will be reflected back in the response. (required)
        :param str user_agent: Name and version of the of the Client software (required)
        :return: DirectoryProviderItem
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_provider_detail_with_http_info(provider_id, x_correlation_id, user_agent, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_provider_detail_with_http_info(provider_id, x_correlation_id, user_agent, **kwargs)  # noqa: E501
            return data

    def retrieve_provider_detail_with_http_info(self, provider_id, x_correlation_id, user_agent, **kwargs):  # noqa: E501
        """Retrieve the informatoin for a registered provider (e.g., financial institutions)  # noqa: E501

        Returns information regarding software and supported use cases of a provider. (SCOPE: SIX)   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_provider_detail_with_http_info(provider_id, x_correlation_id, user_agent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str provider_id: id of the provider (required)
        :param str x_correlation_id: Unique ID (defined by the caller) which will be reflected back in the response. (required)
        :param str user_agent: Name and version of the of the Client software (required)
        :return: DirectoryProviderItem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['provider_id', 'x_correlation_id', 'user_agent']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_provider_detail" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'provider_id' is set
        if ('provider_id' not in params or
                params['provider_id'] is None):
            raise ValueError("Missing the required parameter `provider_id` when calling `retrieve_provider_detail`")  # noqa: E501
        # verify the required parameter 'x_correlation_id' is set
        if ('x_correlation_id' not in params or
                params['x_correlation_id'] is None):
            raise ValueError("Missing the required parameter `x_correlation_id` when calling `retrieve_provider_detail`")  # noqa: E501
        # verify the required parameter 'user_agent' is set
        if ('user_agent' not in params or
                params['user_agent'] is None):
            raise ValueError("Missing the required parameter `user_agent` when calling `retrieve_provider_detail`")  # noqa: E501

        if ('provider_id' in params and
                len(params['provider_id']) > 30):
            raise ValueError("Invalid value for parameter `provider_id` when calling `retrieve_provider_detail`, length must be less than or equal to `30`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'provider_id' in params:
            path_params['providerId'] = params['provider_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_correlation_id' in params:
            header_params['X-Correlation-ID'] = params['x_correlation_id']  # noqa: E501
        if 'user_agent' in params:
            header_params['User-Agent'] = params['user_agent']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/directory/providers/{providerId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DirectoryProviderItem',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_providers(self, x_correlation_id, user_agent, **kwargs):  # noqa: E501
        """Retrieve a list of all registered providers (e.g., financial institutions)  # noqa: E501

        Returns a list of providers with information regarding software and supported use cases. (SCOPE: SIX)   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_providers(x_correlation_id, user_agent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str x_correlation_id: Unique ID (defined by the caller) which will be reflected back in the response. (required)
        :param str user_agent: Name and version of the of the Client software (required)
        :param str status: status=ACTIVE returns only active clients
        :return: list[DirectoryProviderItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_providers_with_http_info(x_correlation_id, user_agent, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_providers_with_http_info(x_correlation_id, user_agent, **kwargs)  # noqa: E501
            return data

    def retrieve_providers_with_http_info(self, x_correlation_id, user_agent, **kwargs):  # noqa: E501
        """Retrieve a list of all registered providers (e.g., financial institutions)  # noqa: E501

        Returns a list of providers with information regarding software and supported use cases. (SCOPE: SIX)   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_providers_with_http_info(x_correlation_id, user_agent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str x_correlation_id: Unique ID (defined by the caller) which will be reflected back in the response. (required)
        :param str user_agent: Name and version of the of the Client software (required)
        :param str status: status=ACTIVE returns only active clients
        :return: list[DirectoryProviderItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['x_correlation_id', 'user_agent', 'status']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_providers" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'x_correlation_id' is set
        if ('x_correlation_id' not in params or
                params['x_correlation_id'] is None):
            raise ValueError("Missing the required parameter `x_correlation_id` when calling `retrieve_providers`")  # noqa: E501
        # verify the required parameter 'user_agent' is set
        if ('user_agent' not in params or
                params['user_agent'] is None):
            raise ValueError("Missing the required parameter `user_agent` when calling `retrieve_providers`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501

        header_params = {}
        if 'x_correlation_id' in params:
            header_params['X-Correlation-ID'] = params['x_correlation_id']  # noqa: E501
        if 'user_agent' in params:
            header_params['User-Agent'] = params['user_agent']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/directory/providers', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[DirectoryProviderItem]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
